@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #F2F5F9;   */
  /* color: white;  */
}

html {
  scroll-behavior: smooth;
  /* cursor: url("/cursor.svg"), auto; */
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.dark-mode {
  background: linear-gradient(to bottom left, #292136, #120e1c);
  /* --shadow-color: #8c4af063; */
  color: white
}

.dark-mode .children {
  background: linear-gradient(to bottom left, #292136, #120e1c);
  background-color: rgba(18, 14, 28, 0.3); /* transparent dark fallback */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  color: white;
}

.dark-mode ::selection {
  color: black;
  background-color: white;
}

.dark-mode .shadow-custom {
  box-shadow:
    0 4px 10px var(--shadow-color),
    0 2px 4px var(--shadow-color);
}

.dark-mode .skills {
  transition: box-shadow 0.3s ease;
}

.dark-mode .skills:hover {
  box-shadow: 1px 1px 2px 1px #8c4af0, 0px 1px 0px -6px #8c4af0;
}

.light-mode {
  color: black;
  --shadow-color: #00000052
}

.light-mode .children {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.light-mode .shadow-custom {
  box-shadow:
    0 4px 10px var(--shadow-color),
    0 2px 4px var(--shadow-color);
}

.light-mode ::selection {
  color: white;
  background-color: black;
}

.light-mode .skills {
  transition: box-shadow 0.3s ease;
}

.light-mode .skills:hover {
  box-shadow: 2px 3px 2px -1px #000000, 0 2px 2px -1px #000000;
}
