@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F2F5F9;  
  /* color: white;  */
}

::selection {
  color: white;
  background-color: black;
}


html {
  scroll-behavior: smooth;
  /* cursor: url("/cursor.svg"), auto; */

}


/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #919696;
  border-radius: 10px;
}